.c {
    height: 100vh;
  }
  
  .c-left {
    flex: 1;
    
    
  }
  
  .c-right {
    flex: 1;
    
  }
  
  .c-intro {
    font-size: 30px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  

  .c-img {
    max-width: fit-content;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
  

  }

  .c-item {
    margin: 30px;
    display: flex;
   
    align-items: center;
    
  justify-content: space-around;

  }